:root {
    --uniblack: #0f161e;
    --unigreen: #97d700;
    --lightunigreen: #cbe985;
    --green20: #b3f347;
    --white: #ffffff;
    --grey90: #1f262f;
    --grey80: #323a44;
    --grey60: #66707E;
    --grey50: #838fa0;
    --grey30: #c0c7d2;
    --grey10: #f2f4f6;
}

body {
    background: var(--uniblack);
    font-family: Poppins;
    font-size: 14px;
    color: var(--white);
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0px;
    display: flex;
}

/* --buttons-- */

.button-primary{
    display: inline-flex;
    padding: 13px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--unigreen);
    transition: background-color 0.4s ease;
    &:hover {
        background-color: var(--lightunigreen);
    }
    border: none;
    border-radius: 4px;
}

.button-primary-disabled{
    pointer-events: none;
    color: var(--grey60);
    background-color: var(--grey90);
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--grey60);
}

.button-secondary{
    display: inline-flex;
    padding: 13px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 0.4px;
    background: var(--uniblack);
    color: var(--grey10);
    transition: border-color 0.4s ease;
    &:hover {
        border-color: var(--unigreen);
    }
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--grey60);
}

.button-secondary-disabled{
    pointer-events: none;
    color: var(--grey60);
    background-color: var(--uniblack);
    border-color: var(--grey60);
}

.button-confirmation{
    margin-top: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

/* --greetings-- */

#greetings-container{
    position: relative;
    margin-top: 65px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

#greetings-container::after{
    position: absolute;
    background: radial-gradient(closest-side at 50% 70%, rgba(102,112,126,0.59) 0%, rgba(102,112,126,0) 90%);
    content: '';
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 250%;
    z-index: 10;
}

.greetings-textblock{
    margin-top: 10px;
    padding-left: 152px;
    padding-right: 0px;
    flex: 0 0 550px;
}

.greetings-ilustration{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.greetings-ilustration::after{
    position: absolute;
    background: linear-gradient(135deg, rgba(15,22,30,0.5) 0%, rgb(15,22,30,1) 100%);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#greetings-ilustration-image{
    filter: grayscale(100%);
}

#greetings-heading{
    margin-top: 0px;
    margin-bottom: 20px;
}

#greetings-body{
    padding-right: 200px;
}

/* --browser-- */

#browser-logo-box{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 30px;
}

#browser-logo-unifer{
    height: 50px;
    animation-duration: 2s;
}

#browser-logo-client{
    height: 35px;
    animation-duration: 1s;
}

#browser-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

#browser-container::after{
    position: absolute;
    background-color: var(--uniblack);
    content: '';
    top: 103%;
    left: 0;
    width: 100%;
    height: 100%;
}

#browser-container::before{
    position: absolute;
    background: radial-gradient(closest-side at 50% 70%, rgba(102,112,126,0.4) 0%, rgba(102,112,126,0) 90%);
    content: '';
    top: 45%;
    right: 0;
    width: 100%;
    height: 100%;
}

.browser-seperator{
    position: absolute;
    top: 102.7%;
    background: radial-gradient(closest-side at 50% 70%, rgba(102,112,126,0.9) 0%, rgba(102,112,126,0) 90%);
    width: 100%;
    height: 3px;
}

#browser{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1136px;
    padding-left: 152px;
    padding-right: 152px;
}

.toolbar{
    display: flex;
    width: 100%;
    max-width: 1136px;
    height: 40px;
    gap: 15.5px;
    align-items: center;
    justify-content: space-between;
    pointer-events: all;

    border-radius: 12px 12px 0 0;
    background: var(--Grey-Grey-90, #1f262f);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.browser__controls{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
}

.browser__controls-col-left{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-left: 2px;
}

.browser__controls-col-left>a{
    display: flex;
}

.browser__controls-col-left>a>svg{
    width: 100%;
    max-width: 12px;
    height: 12px;
}

.browser__controls-col-left>a:nth-child(1){color: var(--grey80);}

.browser__controls-col-left>a:nth-child(2){color: var(--grey60);}

.browser__controls-col-left>a:nth-child(3){color: var(--grey50);}

.browser__tab{
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
}

.browser__tab>a{
    display: flex;
}

.browser__tab>a>svg{
    width: 100%;
    max-width: 33px;
    height: 28px;
    color: var(--grey60);
}

.browser__action{
    display: inline-flex;
    align-items: center;
}

.browser__action>a {
    display: flex;
}

.browser__action>a>svg{
    width: 100%;
    max-width: 32px;
    height: 28px;
    color: var(--grey60);
}

.browser__controls-col-right{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-right: 12px;
}

.browser__controls-col-right>a{
    display: flex;
}

.browser__controls-col-right>a>svg{
    width: 100%;
    max-width: 27px;
    height: 27px;
    color: var(--grey50);
}

.search {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: var(--grey80);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 25px;
    justify-content: right;
    padding-right: 8px;
    border-radius: 6px;
}

.search>a,.search .search__text>a{
    padding-top: 7px;
    color: var(--grey50);
}

.search .search__text{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search .search__text>p{
    margin-left: 5px;
}

#preview{
    position: relative;
    height: 600px;
    background-color: #000;
    width: 100%;
    max-width: 1136px;
    border-radius: 0px 0px 12px 12px;
    margin-bottom: 40px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#preview::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15,22,30,0.3);
    z-index: 20;
}

#preview-box-old{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#preview-box-new{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 787px;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(15,22,30,0.1), 0 6px 20px 0 rgba(15,22,30,0.09);
}

.preview-image{
    position: absolute;
    width: 100%;
}

#preview-image-new{
    position: absolute;
    left: -768px;
}

#preview-divider{
    position: absolute;
    height: 100%;
    left: 768px;
    background-color: var(--grey50);
    z-index: 20;
}

#preview-divider-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--grey90);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(15,22,30,0.1), 0 6px 20px 0 rgba(15,22,30,0.09);
}

.preview-divider-icon{
    color: var(--grey50);
    margin-left: -5px;
    margin-right: -5px;
    height: 40px;
    width: 40px;
}

#browser-heading-1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

#browser-heading-2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#browser-body{
    text-align: center;
    width: 100%;
    max-width: 350px;
}

/* --timeline-- */

#timeline-container{
    display: flex;
    flex-direction: column;
}

#timeline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    padding-left: 152px;
    padding-right: 152px;
    margin-bottom: 200px;
    flex: 1;
}

.timeline-box{
    position: relative;
    width: 100%;
    max-width: 560px;
    height: 500px;
}

.timeline-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    height: fit-content;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    z-index: 30;
}

#timeline-heading{
    margin: 0 0;
    width: 500px;
}

.timeline-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.timeline-card-image-box{
    flex: 1;
    background-color: var(--grey90);
}

.timeline-card-textblock{
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.timeline-card-textblock-left{
    justify-content: flex-end;
    text-align: right;
}

.timeline-card-textblock-right{
    justify-content: flex-start;
    text-align: left;
}

#timeline-card-heading{
    margin-bottom: 0px;
    margin-top: 17px;
}

.timeline-comment{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.timeline-comment-right{
    align-items: flex-end;
    text-align: right;
}

.timeline-comment-left{
    align-items: flex-start;
    text-align: left;
}

.timeline-comment-body{
    border: 1px solid;
    border-color: var(--grey60);
    border-radius: 8px;
    width: fit-content;
    padding: 5px 15px;
}

.timeline-comment-body-text{
    width: 360px;
}

.timeline-comment-signature{
    display: flex;
    gap: 15px;
}

.timeline-comment-name{
    display: flex;
    flex-direction: column;
}

.timeline-comment-name-text{
    margin: 0;
}

.timeline-comment-image-box{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.timeline-comment-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

/* --gallery-- */

#gallery-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

#gallery-subheading{
    text-align: center;
}

#gallery-heading{
    margin-top: 2px;
    text-align: center;
    width: 600px;
}

#gallery{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1218px;
    margin-left: 69px;
    gap: 16px;
}

.gallery-card{
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 350px;
}

#gallery-card-client{
    position: relative;
}

#gallery-card-client-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--uniblack);
}

.gallery-image{
    flex: 1;
    background-color: var(--grey90);
}

.gallery-text{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.gallery-subheader{
    padding-top: 6px;
}

/* --quiz-- */

.quiz-ilustration {
    flex: 0 0 550px;
    padding-top: 180px;
}

.quiz-wrapper {
    flex: 1;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quiz-textblock{
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#quiz-heading {
    margin-top: 0px;
    padding-left: 0px;
}

#quiz-subheading {
    margin-bottom: 10px;
}

#swiper-heading, #swiper-subheading{
    text-align: right;
}

.quiz-swiper {
    position: relative;
    width: 870px;
    height: 220px;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 1;
}

.quiz-swiper::after{
    position: absolute;
    background: linear-gradient(90deg, rgba(15,22,30,0) 0%, rgba(15,22,30,1) 100%);
    content: '';
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 10;
}

.quiz-swiper-slide {
    text-align: left;
    font-size: 18px;
    background: var(--uniblack);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 20px;
    padding-top: 10px;
    height: 210px;
    border: 1px solid;
    border-color: var(--grey60);
    border-radius: 4px;
}

.quiz-swiper-slide-empty {
    border: none;
}

.swiper-textblock-heading, .swiper-textblock-body{
    text-align: left;
}

.swiper-confirmation{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 6px;
}

/* --congratulation/cta-- */

#congratulation-container{
    display: block;
    margin: 0 auto;
    padding: 0 0px;
}

#cta-container{
    display: block;
    margin: 0 auto;
    padding: 0 0px;
}

.congratulation-ilustration{
    flex: 0 0 550px;
    padding-top: 100px;
    padding-right: 0px;
}

.congratulation-wrapper{
    display: flex;
    margin: 0px;
    padding-right: 152px;
    padding-left: 152px;
    padding-top: 80px;
}

.congratulation-textblock{
    flex: 1;
}

#congratulation-heading{
    margin-top: 5px;
    margin-bottom: 20px;
}

#congratulation-body{
    padding-right: 220px;
    margin-bottom: 200px;
}

#cta-heading{
    margin-top: 5px;
    line-height: 95px;
    margin-bottom: 20px;
}

#cta-body{
    padding-right: 270px;
    margin-bottom: 150px;
}

/* --footer-- */

#footer{
    background-color: var(--uniblack);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 48px 40px 48px;
    border: 1px solid var(--grey80);
    margin-top: 30px;
    margin-bottom: 45px;
    border-radius: 8px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-row{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-end;
}

.footer-socials{
    gap: 16px;
}

.footer-body{
    margin: 0;
}

#footer-address{
    margin: 0;
    width: max-content;
}

#footer-logo{
    width: 130px;
    height: 50px;
    margin-left: -9px;
}