.display-large{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 80px;
    line-height: 102%;
}

.heading-1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 53px;
    line-height: 112%;
}

.heading-5{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    line-height: 25px;
}

.heading-6{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 25px;
}

.text-primary-button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.body{
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.subheader{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 16px;
    font-style: normal;
}

/* --barvicky-- */

.grey{
    color: var(--grey50);
}

.light-grey{
    color: var(--grey30)
}

.green{
    color: var(--green20);
    background-color: rgb(0, 0, 0, 0);
}